@model IEnumerable<WebDatLich.Models.Appointment>


@{
    ViewData["Title"] = "Danh sách lịch hẹn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Banner-->
<section class="cid-qxz61ptK8m" id="social-buttons3-c" data-rv-view="111">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(10, 10, 10);">
    </div>

    <div class="container banner">
        <div class="media-container-row">
            <div class="col-md-8 align-center">
                <h2 class="pb-3 mbr-section-title mbr-fonts-style">
                    <strong>
                        @ViewData["Title"]
                    </strong>
                </h2>

            </div>
        </div>
    </div>
</section>
<!--Banner end-->

<div class="card">
    <div class="card-body">
        <h4>Data Table</h4>
        <p>DataTables is a plug-in for the jQuery Javascript library. It is a highly flexible tool, built upon the foundations of progressive enhancement, that adds all of these advanced features to any HTML table. Below is an example of zero configuration.</p>
        <div class="container">
            <div class="m-t-25">
                <table id="data-table" class="table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.IdWorkNavigation.Name)</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>@Html.DisplayNameFor(model => model.Start)</th>
                            <th>
                                @Html.DisplayNameFor(model => model.IdProviderNavigation.Username)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IdWorkNavigation.Duration)
                            </th>
                            <th>Hoạt động</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IdWorkNavigation.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Start)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdProviderNavigation.Username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdWorkNavigation.Duration) @(" phút")

                                </td>
                                <td>
                                  @*   <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                                  @*   |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                                </td>
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Nội dung</th>
                            <th>Trạng thái</th>
                            <th>Bắt đầu vào lúc</th>
                            <th>Người hẹn</th>
                            <th>Khoảng thời gian</th>
                            <th>Hoạt động</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        

    </div>
</div>

@section Scripts {
    <script>
        $('#data-table').DataTable();
    </script>
    <!-- page js -->
}


<p>
    <a asp-action="Create">Create New</a>
</p>



@* <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdWorkNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProviderNavigation.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.IdWork);
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</tbody> *@