@model IEnumerable<WebDatLich.Models.Appointment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4>Data Table</h4>
        <p>Admin chỉ được phép xem</p>
        <div class="container">
            <div class="m-t-25">
                <table id="data-table" class="table">
                    <thead>
                        <tr>
                            <th>Nội dung</th>
                            <th>Trạng thái</th>
                            <th>Bắt đầu vào lúc</th>
                            <th>Người hẹn</th>
                            <th>Khoảng thời gian</th>
                            <th>Hoạt động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IdWorkNavigation.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Start)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdProviderNavigation.Username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdWorkNavigation.Duration) @(" phút")

                                </td>
                                <td>

                                    <a asp-action="Details" asp-route-id="@item.Id">
                                        <button class="btn btn-info btn-tone m-r-2">Chi tiết</button>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Nội dung</th>
                            <th>Trạng thái</th>
                            <th>Bắt đầu vào lúc</th>
                            <th>Người hẹn</th>
                            <th>Khoảng thời gian</th>
                            <th>Hoạt động</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>


    </div>
</div>




@section AdminScripts {
    <script>
        $('#data-table').DataTable();
    </script>
    <!-- page js -->
}
